# Basic:
APP_NAME="Nabatna-AI"
APP_VERSION="1.0.0"
WEATHER_API_KEY=""
# Training:
IMAGE_SIZE=224
NUM_CLASSES=15
BATCH_SIZE=16
EPOCHS=10
LEARNING_RATE=0.0005
# Paths:
TRAINED_MODEL_PATH="models/model.h5"
PROCESSED_DATA_PATH="data/processed"
RAW_DATA_PATH="data/raw"
CUSTOM_DATA_PATH="data/custom"